################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scores/packages
/Scores/.vs/GamesRepository/v16/Server/sqlite3
/Scores/Common/bin/Debug
/Scores/Common/obj/Debug
/Scores/.vs/GamesRepository/v16
/Scores/DBService/bin/Debug
/Scores/DBService/obj/Debug
/Scores/QueueService/bin/Debug
/Scores/QueueService/obj/Debug
/Scores/ScoresAPIService/bin/Debug/netcoreapp2.1/win7-x64
/Scores/ScoresAPIService/obj/Debug/netcoreapp2.1/win7-x64
/Scores/ScoresAPIService/obj
/Scores/SearchIndexService/bin/Debug
/Scores/SearchIndexService/obj/Debug
/Scores/Testers/LiveScoresTester/bin/Debug
/Scores/Testers/LiveScoresTester/obj/Debug
/Scores/Common/bin/Release
/Scores/Common/obj/Release
/Scores/DBService/bin/Release
/Scores/QueueService/bin/Release
/Scores/QueueService/obj/Release
/Scores/ScoresApp/pkg/Debug
/Scores/SearchIndexService/bin/Release
/Scores/DBService/obj/Release
/Scores/SearchIndexService/obj/Release
/Scores/Testers/LiveScoresTester/obj/Release
